{% extends 'mybase.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="container-fliud mx-5 bg-white  shadow rounded o-f p-5">
    <div class="row">

        <div class="col-md-6 px-5">
            <h3>Vision</h3><hr class="black">
            <p class="text-justify">We're wrapping the Services header in a container element, so we follow the same convention as the
            Welcome section and leave gutter space around the content. Within that container, we also include the
            tabs .  </p>

            <p class="text-justify">The nav-item class is applied to each list item to denote that the item is indeed a navigation item
            (the nav-item class adjusts the margin and float of the list item, and ensures that the list items are not
            stacked on top of each other</p>
        </div>

        <div class="col-md-6 px-5">
            <h3>Mission</h3><hr class="black">
            <p class="text-justify">We're wrapping the Services header in a container element, so we follow the same convention as the
            Welcome section and leave gutter space around the content. Within that container, we also include the
            tabs .  </p>

            <p class="text-justify">The nav-item class is applied to each list item to denote that the item is indeed a navigation item
            (the nav-item class adjusts the margin and float of the list item, and ensures that the list items are not
            stacked on top of each other</p>
        </div>

    </div>
    
</div>
{% endblock %}