{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div id="container">
  <h1 id="head">Change you password</h1>
  <form action="." method="post">
  	<ul>
    <li>{{ form.old_password|append_attr:"placeholder:Old Password" }}</li>
    <li>{{ form.new_password1|append_attr:"placeholder:New Password" }}</li>
    <li>{{ form.new_password2|append_attr:"placeholder:New Password Confirm" }}</li>
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}
    <ul>
  </form>
</div>
{% endblock %}