{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container-fliud box-div w-50 py-3">
  <h1 class="text-white">Reset your password</h1><hr>
  {% if validlink %}
    <p class="text-white">Please enter your new password twice:</p>
    <form action="." method="post">
      <li>New Password{{ form.new_password1 }}</li>
      <li>Confirm New Password{{ form.new_password2 }}</li>
      {% csrf_token %}
      <button class="btn btn-primary mb-3" type="submit">Save</button>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
  </div>
{% endblock %} 